body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
}

.header {
    display: flex;
    justify-content: center;
    background-color: #eeeeee;
}

button{
    display: block;
}
.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .bodysection {
    background-color: white;
    margin: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  #greeting {
    margin: 30px 0 30px 0;
  }