
body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    flex-direction: column;
    gap: 2em;
    justify-content: center;
    margin: 0px;
}

h1 {
    padding: 20px;
}
.header {
    display: flex;
    justify-content: center;
    background-color: #eeeeee;
    color: #333333;
}

button {
    display: block;
}
.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px;
  }

  .bodysection {
 
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  #greeting {
    margin: 30px 0 30px 0;
  }

  .footer {
    background-color: #eeeeee;
    display: flex;
    margin-top: auto;
    justify-content: center; /* Center the links horizontally */
    align-items: center; /* Center the links vertically */
  }
  
  
  .footerlinks {
    display: flex;
    padding: 20px;
    gap: 20px;
justify-content: space-between;
  }
  
  .footerlinks a{
    text-decoration: none;
    color: #333333;
  }
  .fill {
    margin: 100px;
    padding: 50px;
    border: 100px green dotted;
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  .weatherjs {
    display: flex;
    justify-content: center;
    padding: 20px;
    flex-direction: column;
  }

  select {
    max-width: 200px;
  }
  .label {
    margin: 20px;
  }
  .text {
    text-align: center;
  }

  .weatherclass {
    margin: 10px 30px 10px 30px
  }


.themejs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc; /* optional: just to see the container */
    padding: 20px; /* optional: add padding for space inside the container */
}

.contents {
    display: flex;
    flex-direction: column;
    align-items: center;
}