
.big-pink-button {
  background-color: #ff69b4; /* Pink color */
  color: white; /* Text color */
  padding: 15px 30px; /* Padding */
  font-size: 16px; /* Font size */
  border-radius: 25px; /* Rounded edges */
  border: none; /* No border */
  cursor: pointer; /* Cursor style */
}

/* Hover effect */
.big-pink-button:hover {
  background-color: #ff1493; /* Darker pink color */
}

.flex-container {
    display: flex;
    justify-content: space-around;
}

.container {
    padding: 20px;
    margin: 30px;
}

.content {
    margin: 30px;
}